# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
._*

# App data
.mactimetracker/

# Docker
dist/
*.app

# py2app build
build/
