# App data
.mactimetracker/

# Docker
# IDE
# Python
# macOS
# py2app build
legacy/build/
legacy/dist/
*$py.class
*.app
*.egg
*.egg-info/
*.py[cod]
*.so
*.swo
*.swp
.DS_Store
._*
.env
.idea/
.installed.cfg
.vscode/
__pycache__/
build/
dist/
logs/
venv/
