
# App data
# Docker
# IDE
# Python
# macOS
# py2app build
*$py.class
*.app
*.egg
*.egg-info/
*.py[cod]
*.so
*.swo
*.swp
.DS_Store
._*
.env
.idea/
.installed.cfg
.mactimetracker/
.vscode/
__pycache__/
build/
dist/
logs/
venv/
